
.h3, h3 {
    font-size: 1.75rem;
    margin-left: 300px;
}
.form_responsive {
    margin-left: 351px;
}

@media(max-width: 576px){
 
.form_responsive {
    margin-left: 20px;
}
.h3, h3 {
    margin-left: 0px;
}
}