form{
  width: 300px;
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
    width: 35rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 100px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    margin-left: 100px;
}

h5, h5 {
    font-size: 1.25rem;
    text-align: center;
}

@media(max-width: 576px){
	.mb-5, .my-5 {
    margin-bottom: 3rem!important;
    width: 20rem;
}
}